.error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('D:/i-Hack AWS Financial Security/I-Hack-Financial-Security/frontend-demo/public/assets/bg2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #000000; /* Modern dark background */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .sidebar-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-header h2 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    margin: 25px 0;
  }
  
  .sidebar-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    display: block;
    transition: background 0.3s ease, padding-left 0.3s ease;
    border-radius: 8px;
  }
  
  .sidebar-nav a:hover {
    background: #444;
    padding-left: 40px;
  }
  
  .sidebar-footer {
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-footer button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: #ffffffae;
    color: rgb(6, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-footer button:hover {
    background-color: #fbfbfb;
  }

.error-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-left: 250px;
}

.error-container h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

.error-container h2 {
    font-size: 36px;
    margin: 10px 0;
}

.error-container p {
    font-size: 18px;
    margin: 20px 0;
    line-height: 1.5;
    color: #ccc;
}

.reloadPage-button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff9e;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reloadPage-button:hover {
    background-color: #8b8b8bfc;
    color: #ffffff;
}
